samples/network-single-org/Org1/
samples/network-single-org/Orderer/
samples/network-single-org/*/mychannel/
samples/network-single-org/*/mychannel2/
chaincode-home-*/
build/
binaries/
/samples/network-nginx-proxy/Orderer/*/etcdraft/
/samples/network-nginx-proxy/Orderer/*/file-ledger/
/samples/network-nginx-proxy/Orderer/*/FABRIC-NODOCKER-Orderer-*.log
/samples/network-nginx-proxy/Org1/*/data/
/samples/network-nginx-proxy/Org1/*/FABRIC-NODOCKER-Org1-*.log
