samples/network-single-org/Org1/
samples/network-single-org/Orderer/
samples/network-single-org/*/mychannel/
samples/network-single-org/*/mychannel2/
chaincode-home-*/
build/
binaries/
chaincodes/
/samples/network-nginx-proxy/*/*/etcdraft/
/samples/network-nginx-proxy/*/*/file-ledger/
/samples/network-nginx-proxy/*/*/FABRIC-NODOCKER-Orderer-*.log
/samples/network-nginx-proxy/*/*/data/
/samples/network-nginx-proxy/*/*/FABRIC-NODOCKER-Org1-*.log
